@import "tailwindcss";

:root {
	--bg-color: #ffffff;
	--text-color: #222222;
	--surface-bg: #f5f5f5;
	--border-color: #dddddd;
	--accent-color: #0078d4;
	--confirm-bg: #e0e0e0;
	--calendar-filter: invert(0);
	--surface-hover-bg: #e5e5e5;
	--button-bg: #e5e7eb;
	--danger-bg: #e53935;
	--danger-text: #ffffff;
}

.dark {
	--bg-color: #1e1e1e;
	--text-color: #f1f1f1;
	--surface-bg: #2a2a2a;
	--border-color: #444444;
	--accent-color: #3399ff;
	--confirm-bg: #555555;
	--calendar-filter: invert(1);
	--surface-hover-bg: #3a3a3a;
	--button-bg: #444444;
	--danger-bg: #d32f2f;
	--danger-text: #ffffff;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition:
		background-color 0.2s ease,
		color 0.2s ease;
}
